# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
env/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
*.swp

# Environment variables
.env

# Logs
*.log

# Model files or temp files
*.pt
*.npy
